<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register as an author</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px
        }
    </style>
</head>
<body>
    <p><a href="/">back to home</a></p>
    {% if user.is_staff %}
    <form action="/newauthor/" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <p>You are not authorized to create new users!</p>
    {% endif %}
</body>
</html>