<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tom, Dick, and Harrys' Cookbook</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>You are logged in as <a href="/author?id={{ author.id }}">{{ author.username }}</a></p>
        <p><a href='/logout/'><button>Logout</button></a></p>
    {% else %}
        <p><a href='/login'><button>Login</button></a></p>
    {% endif %}
    {% for item in data %}
        <a href="/recipe?id={{item.id}}">
            {{item.title}} 
        </a>
        <p></p>
    {% endfor %}
    <a href='/newauthor/'><button>Register a new author!</button></a>
    <a href='/newrecipe/'><button>Add a new recipe!</button></a>
</body>
</html>