<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enter new recipe</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
        }
        form {
            display: flex;
            flex-direction: column;
            width: 300px;
        }
</style>
</head>
<body>
    <p><a href="/">back to home</a></p>
    {% if user == recipe.author.user %}
    <form action="/recipe/edit/?id={{ recipe.id }}" method="post">
        {% csrf_token %}
        {{ form }}
        <p></p>
        <input type="submit" value="Submit">
    </form>
    {% else %}
    <p>ain't your shit</p>
    {% endif %}
</body>
</html>